.category {
  width: 100%;
  background-color: #fff;
  margin-bottom: 30px;
}

.category-root > li {
  width: 100%;
  height: 40px;
  line-height: 40px;
  border-bottom: #d6caca 1px solid;
}
.category-root > li:last-child {
  border-bottom: none;
}

.category-root > li > span {
  float: left;
}

.category-item {
  float: left;
  height: 40px;
}
.category-item li {
  float: left;
  width: 100px;
  margin-right: 10px;
  line-height: 40px;
  text-align: center;
}

.category-item li a {
  display: inline-block;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.category-item li a:hover {
  color: #00a4ff;
}

.category-item .active {
  color: #00a4ff;
}

.course-area {
  margin-bottom: 30px;
}

.course-area ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.course-area ul li {
  width: 228px;
  height: 270px;
  margin-bottom: 30px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #d6caca;
}

.course-area ul li a {
  display: block;
  width: 100%;
  height: 100%;
}

.course-area ul li a:hover {
  background-color: #cecdcd;
}

.course-area ul li a img {
  width: 100%;
}

.course-area ul li a > span {
  display: block;
  margin-top: 10px;
  font-size: 14px;
  font-weight: 400;
  padding-left: 10px;
}

.course-area ul li a > span:hover {
  color: #00a4ff;
}

.course-area ul li a div {
  margin-top: 20px;
  font-size: 13px;
  font-weight: 400;
  padding-left: 10px;
}

.course-area li a div em {
  color: #ff7c2d;
  font-style: normal;
}

.page-indicator {
  margin-bottom: 30px;
}

.page-indicator-ul {
  width: 330px;
  margin-left: auto;
  margin-right: auto;
}

.page-indicator-ul li {
  float: left;
  width: 30px;
  height: 30px;
  margin-right: 10px;
  border-radius: 5px;
  background-color: #fff;
  cursor: pointer;
  line-height: 30px;
  text-align: center;
  box-shadow: 0 0 5px #d6caca;
}

.page-indicator-ul li:last-child {
  margin-right: 0;
}

.page-indicator-ul .active {
  background-color: #00a4ff;
  color: #fff;
}

.page-indicator-ul li:hover {
  background-color: #00a4ff;
  color: #fff;
}

.page-indicator-ul .pre {
  width: 100px;
}

.page-indicator-ul .next {
  width: 100px;
}

.guess-like {
  position: absolute;
  right: 5%;
  top: 290px;
  width: 230px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #d6caca;
}

.guess-like h4 {
  padding-left: 10px;
  padding-top: 10px;
}

.guess-like-ul {
  margin-top: 10px;
}

.guess-like-ul li {
  height: 80px;
  margin: 0 2px;
  border-bottom: #d6caca 1px solid;
}

.guess-like-ul li a {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 14px;
  font-weight: 400;
  padding: 5px;
}

.guess-like-ul li a > span {
  display: block;
  margin-top: 5px;
  font-size: 12px;
  font-weight: 700;
}

.guess-like-ul li:last-child {
  border-bottom: none;
}

.guess-like-ul li a:hover {
  background-color: #00a4ff;
  color: #fff;
}

.guess-like-ul li a div {
  margin-top: 10px;
  font-size: 11px;
  font-weight: 400;
}

.guess-like-ul li a div em {
  color: #ff7c2d;
  font-style: normal;
}
