* {
  padding: 0;
  margin: 0;
  font-family: '微软雅黑';
  box-sizing: border-box;
}

body {
  background-color: #f3f5f7;
}

div {
  display: block;
  overflow: hidden;
}

input {
  outline: none;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #050505;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
}
